<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{position}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor
            quo, perspiciatis
            voluptas totam</p>     
        <div>
            <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
            <a href="#" (click)="voteUp()" appTrackerClick data-tracker-tags="destino_vote_up lista_destinos_item"><i class="material-icons md-18">thumb_up</i></a>
            <a href="#" (click)="voteReset()"><i class="material-icons md-18">autorenew</i></a>
            {{destino.votes}}
        </div>   
        <div class="mt-2 pb-1">
            <a href="#" class="btn-card" (click)="seleccionarFavorito()">Preferido</a>
            <span *ngIf="destino.isSelected()">
                <span ngNonBindable>{{PREFERIDO}}</span>
            </span>
        </div>
        <div class="mt-4">
            <a class="btn-card mr-2"  [routerLink]="['/destino', position]">Ver detalle</a> 
            <a href="#" class="btn-card" (click)="eliminarAction()">Eliminar</a>
        </div>
    </div>
</div>