<div class="page-header">
    <div style="float:left;">
        <select (change)="translate.use($event.target.value)">
            <option value="es">Español</option>
            <option value="fr">France</option>
            <option value="en">English</option>
        </select>
    </div>
</div>

<router-outlet></router-outlet>

<div class="page-header">
    <div class="container">
        <h2>angular-wishlist</h2>
        <h2>Ruteo simple</h2>
        <div class="navLinks">
            <a [routerLink]="['/home']">Home</a>
            <a [routerLink]="['/destino']">Destino</a>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col">
            <h1>
                {{title}} <b [innerHTML]="'HOLA' | translate"></b> - 
                {{title}} <b [innerHTML]="'HOLA2' | translate"></b>
            </h1>
            <router-outlet></router-outlet>
        </div>
    </div>    
</div>

<hr class="mb-5">
Fecha: {{time | async}}