<!-- <p>
    Detalle destino
    <br>
    {{destino.id}}
    <br>
    {{destino.nombre}}
</p> -->
<hr>
<mgl-map
    [style]="style"
    [zoom]="[2]"
    class="mapGL"
>
    <mgl-marker [lngLat]="[-75.551012, 10.4211185]">
        <div 
            onclick="alert('Hola')"
            class="marker"
            >
            Hola Mundo
        </div>
    </mgl-marker>
</mgl-map>